//custom css by body screen
  body.screen--sm, body.screen--xs {
    .full_height{
      height: calc(100vh - 125px);
      position: relative;
      .action-right_save{
        position: fixed;
        bottom: 65px;
        right:15px;
      }
      .action-right_cancel{
        position: fixed;
        bottom: 65px;
        right:120px;
      }
    }
    .my__color {
      background-color: rgb(0, 255, 34);
    }
    .bulb{
      position: fixed;
        top: 74px;
        right:10px;
    }
  }
