

// this custom template from quasar
/*
  ===================================================
  FORM INPUT
  ===================================================
*/
.q-field__bottom {
  font-size: 10px;
  min-height: 15px !important;
  line-height: 1;
  color: rgba(0, 0, 0, 0.54);
  padding: 3px 10px 0 !important;
}
.q-field__message-col>div {
  font-size:10px !important;
}
