// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary   : #423a8e;
$secondary : #06b8b8;
$accent    : #9C27B0;

$dark      : #161b2ef1;
$dark-page : #0d101a;

$positive  : #198754;
$negative  : #dc3545;
$info      : #0d6efd;
$warning   : #d6a100;

