@font-face {
    font-family: "icons";
    src: url("./icons.woff?6e813f27bbf174fb99b3b3a8c0b2e1b6") format("woff"),
url("./icons.woff2?6e813f27bbf174fb99b3b3a8c0b2e1b6") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eva-bell-outline:before {
    content: "\f101";
}
.icon-eva-facebook:before {
    content: "\f102";
}
.icon-eva-google:before {
    content: "\f103";
}
.icon-eva-home-outline:before {
    content: "\f104";
}
.icon-eva-home:before {
    content: "\f105";
}
.icon-eva-message_circle_outline:before {
    content: "\f106";
}
.icon-eva-person-outline:before {
    content: "\f107";
}
.icon-eva-person:before {
    content: "\f108";
}
.icon-fa-xmark-solid:before {
    content: "\f109";
}
.icon-ion-bell-outline:before {
    content: "\f10a";
}
.icon-ion-home-outline:before {
    content: "\f10b";
}
.icon-ion-home:before {
    content: "\f10c";
}
.icon-ion-person:before {
    content: "\f10d";
}
.icon-ion-timer:before {
    content: "\f10e";
}
.icon-mat-access_time:before {
    content: "\f10f";
}
.icon-mat-account_circle:before {
    content: "\f110";
}
.icon-mat-add_box:before {
    content: "\f111";
}
.icon-mat-add:before {
    content: "\f112";
}
.icon-mat-app_registration:before {
    content: "\f113";
}
.icon-mat-arrow_back:before {
    content: "\f114";
}
.icon-mat-arrow_downward:before {
    content: "\f115";
}
.icon-mat-arrow_drop_down:before {
    content: "\f116";
}
.icon-mat-arrow_forward:before {
    content: "\f117";
}
.icon-mat-arrow_upward:before {
    content: "\f118";
}
.icon-mat-cancel:before {
    content: "\f119";
}
.icon-mat-check_circle:before {
    content: "\f11a";
}
.icon-mat-check:before {
    content: "\f11b";
}
.icon-mat-chevron_left:before {
    content: "\f11c";
}
.icon-mat-chevron_right:before {
    content: "\f11d";
}
.icon-mat-clear_all:before {
    content: "\f11e";
}
.icon-mat-clear:before {
    content: "\f11f";
}
.icon-mat-close:before {
    content: "\f120";
}
.icon-mat-cloud_upload:before {
    content: "\f121";
}
.icon-mat-code:before {
    content: "\f122";
}
.icon-mat-dashboard:before {
    content: "\f123";
}
.icon-mat-delete_sweep:before {
    content: "\f124";
}
.icon-mat-display_settings:before {
    content: "\f125";
}
.icon-mat-done_all:before {
    content: "\f126";
}
.icon-mat-done:before {
    content: "\f127";
}
.icon-mat-edit:before {
    content: "\f128";
}
.icon-mat-email:before {
    content: "\f129";
}
.icon-mat-error:before {
    content: "\f12a";
}
.icon-mat-exit_to_app:before {
    content: "\f12b";
}
.icon-mat-first_page:before {
    content: "\f12c";
}
.icon-mat-font_download:before {
    content: "\f12d";
}
.icon-mat-format_align_center:before {
    content: "\f12e";
}
.icon-mat-format_align_justify:before {
    content: "\f12f";
}
.icon-mat-format_align_left:before {
    content: "\f130";
}
.icon-mat-format_align_right:before {
    content: "\f131";
}
.icon-mat-format_bold:before {
    content: "\f132";
}
.icon-mat-format_clear:before {
    content: "\f133";
}
.icon-mat-format_indent_decrease:before {
    content: "\f134";
}
.icon-mat-format_indent_increase:before {
    content: "\f135";
}
.icon-mat-format_italic:before {
    content: "\f136";
}
.icon-mat-format_list_bulleted:before {
    content: "\f137";
}
.icon-mat-format_list_numbered:before {
    content: "\f138";
}
.icon-mat-format_quote:before {
    content: "\f139";
}
.icon-mat-format_size:before {
    content: "\f13a";
}
.icon-mat-format_underlined:before {
    content: "\f13b";
}
.icon-mat-fullscreen:before {
    content: "\f13c";
}
.icon-mat-grade:before {
    content: "\f13d";
}
.icon-mat-gradient:before {
    content: "\f13e";
}
.icon-mat-info:before {
    content: "\f13f";
}
.icon-mat-key:before {
    content: "\f140";
}
.icon-mat-keyboard_arrow_down:before {
    content: "\f141";
}
.icon-mat-keyboard_arrow_left:before {
    content: "\f142";
}
.icon-mat-keyboard_arrow_right:before {
    content: "\f143";
}
.icon-mat-keyboard_arrow_up:before {
    content: "\f144";
}
.icon-mat-last_page:before {
    content: "\f145";
}
.icon-mat-layers:before {
    content: "\f146";
}
.icon-mat-lens:before {
    content: "\f147";
}
.icon-mat-link:before {
    content: "\f148";
}
.icon-mat-lock:before {
    content: "\f149";
}
.icon-mat-medical_information:before {
    content: "\f14a";
}
.icon-mat-menu_book:before {
    content: "\f14b";
}
.icon-mat-person:before {
    content: "\f14c";
}
.icon-mat-play_arrow:before {
    content: "\f14d";
}
.icon-mat-print:before {
    content: "\f14e";
}
.icon-mat-priority_high:before {
    content: "\f14f";
}
.icon-mat-receipt_long:before {
    content: "\f150";
}
.icon-mat-redo:before {
    content: "\f151";
}
.icon-mat-refresh:before {
    content: "\f152";
}
.icon-mat-remove:before {
    content: "\f153";
}
.icon-mat-search:before {
    content: "\f154";
}
.icon-mat-segment:before {
    content: "\f155";
}
.icon-mat-settings:before {
    content: "\f156";
}
.icon-mat-skip_next:before {
    content: "\f157";
}
.icon-mat-skip_previous:before {
    content: "\f158";
}
.icon-mat-sms_black:before {
    content: "\f159";
}
.icon-mat-sms_failed:before {
    content: "\f15a";
}
.icon-mat-sort:before {
    content: "\f15b";
}
.icon-mat-strikethrough_s:before {
    content: "\f15c";
}
.icon-mat-style:before {
    content: "\f15d";
}
.icon-mat-supervisor_account:before {
    content: "\f15e";
}
.icon-mat-text_format:before {
    content: "\f15f";
}
.icon-mat-textsms:before {
    content: "\f160";
}
.icon-mat-thumb_up_off_alt:before {
    content: "\f161";
}
.icon-mat-today:before {
    content: "\f162";
}
.icon-mat-tune:before {
    content: "\f163";
}
.icon-mat-tungsten:before {
    content: "\f164";
}
.icon-mat-undo:before {
    content: "\f165";
}
.icon-mat-vertical_align_bottom:before {
    content: "\f166";
}
.icon-mat-vertical_align_top:before {
    content: "\f167";
}
.icon-mat-visibility_off:before {
    content: "\f168";
}
.icon-mat-visibility:before {
    content: "\f169";
}
.icon-mat-vpn_key:before {
    content: "\f16a";
}
.icon-mat-warning:before {
    content: "\f16b";
}
.icon-my-facebook:before {
    content: "\f16c";
}
.icon-my-google:before {
    content: "\f16d";
}
.icon-my-key:before {
    content: "\f16e";
}
